/* colors
background black #000
operation buttons orange #ff9501
all clear grey #a6a6a6
numbers and signs white #fdfdfd
*/
/* border-radius is tool to make the corners rounder*/
.calculator {
    margin: 50px auto;/* This is for the box to center in the middle of the page.*/
    width: 280px;
    height: 470px;
    /* border: 1px solid #000;* As our background is black, the border is not necessary*/
    border-radius: 15px; 
    background: rgb(29, 15, 15);
    color: #fff;/*this is the color of the text and numbers on the buttoms*/
    font-family: Arial;
    padding: 18px; /*distance of the buttons inside the box to the border*/
    box-shadow:4px 4px 4px #4f4f4f;
}
.calc-screen{
    height: 100px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 25px;
}

.calc-screen p {
    text-align: right;
    font-style: 4rem;
    margin: 0;
}

.buttons {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: minmax(60px, auto) repeat(5, 65px);
}

.btn {
    color: white; /*this is the color of the text and numbers on the buttoms*/
    height: 60px; 
    background: #333;
    border-radius: 50px;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    margin: 3px;
}
.span-two {
    grid-column: span 2;
}
.btn:hover {
    filter: brightness(120%);
}
.btn:active {
    filter: brightness(90%); /* When the button is clicked on this color appears*/

}
.btn.bg-grey {
    background: #a6a6a6;
}
.btn.bg-orange {
    background: #ff9501;
}














